In [19]:
import pandas as pd

In [20]:
#Read CSV file
budgetDataDF = pd.read_csv("Resources/budget_data.csv")
budgetDataDF.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [21]:
#Confirm there are no incomplete rows
budgetDataDF.count()

Date             86
Profit/Losses    86
dtype: int64

In [22]:
#The total number of months included in the dataset
totalMonths = len(budgetDataDF.index)

In [23]:
#The net total amount of "Profit/Losses" over the entire period
totalProfit = budgetDataDF["Profit/Losses"].sum()

In [24]:
#Calculate month-over-month (MoM) change in profit for each month
momChangeDF = budgetDataDF['Profit/Losses']-budgetDataDF['Profit/Losses'].shift()
momChangeDF.head()

0         NaN
1    116771.0
2   -662642.0
3   -391430.0
4    379920.0
Name: Profit/Losses, dtype: float64

In [25]:
#Add 'MoM Change' column to budget data frame
budgetDataDF["MoM Change"] = momChangeDF
budgetDataDF.head()

       Date  Profit/Losses  MoM Change
0  Jan-2010         867884         NaN
1  Feb-2010         984655    116771.0
2  Mar-2010         322013   -662642.0
3  Apr-2010         -69417   -391430.0
4  May-2010         310503    379920.0

In [26]:
#The average of the changes in "Profit/Losses" over the entire period
avgMoMChange = budgetDataDF["MoM Change"].mean()

In [27]:
#The greatest increase in profits (amount) over the entire period
maxMoMChange = budgetDataDF["MoM Change"].max()

In [28]:
#The index of the above maximum value
maxMoMChangeIndex = budgetDataDF["MoM Change"].idxmax()

#The greatest increase in profits (date) over the entire period
maxMoMChangeMth = budgetDataDF.iloc[maxMoMChangeIndex]["Date"]

In [29]:
#The greatest decrease in losses (amount) over the entire period
minMoMChange = budgetDataDF["MoM Change"].min()

In [30]:
#The index of the above minimum value
minMoMChangeIndex = budgetDataDF["MoM Change"].idxmin()

#The greatest decrease in losses (date) over the entire period
minMoMChangeMth = budgetDataDF.iloc[minMoMChangeIndex]["Date"]

In [31]:
#Concatenate results and print
headerOP = "Financial Analysis" + '\n'
seperatorOP = "----------------------------" + '\n'
totalmthsOP = "Total Months: " + str(totalMonths) + '\n'
totalprofitOP = "Total: " + str(totalProfit) + '\n'
avgchangeOP = "Average Change: " + str(round(avgMoMChange,2)) + '\n'
greatincOP = "Greatest Increase in Profits: " + str(maxMoMChangeMth) + " ($" + str(maxMoMChange) +")" + '\n'
greatdecOP = "Greatest Decrease in Profits: " + str(minMoMChangeMth) + " ($" + str(minMoMChange) + ")" + '\n'

output = (headerOP + 
          seperatorOP + 
          totalmthsOP + 
          totalprofitOP + 
          avgchangeOP + 
          greatincOP + 
          greatdecOP)

print(output)

Financial Analysis
----------------------------
Total Months: 86
Total: 38382578
Average Change: -2315.12
Greatest Increase in Profits: Feb-2012 ($1926159.0)
Greatest Decrease in Profits: Sep-2013 ($-2196167.0)

In [32]:
#Create text file
f = open('Resources/budget_data.txt','w')

In [33]:
#Write 'output' concatination to text file
print(output, file=f)